{% extends 'base.html' %}
{% block title %}Signup{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-auto w-50 mx-auto">
            <div class="card text-center bg-light mb-3 " style="max-width: 40rem;">
                <div class="card-body">
                    <h1 class="card-title">Signup</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p><input type="submit" value="Signin" class="btn btn-success"></p>
                        <p><a href="{% url 'signup' %}">Already have account?</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}